$theme_color: #0058a3; // 主题色

$logo_size: 22px;

.d_f {
    display: flex;
}
.j_c_sa{
    justify-content: space-around;
}
.j_c_sb{
    justify-content: space-between;
}
.j_c_c{
    justify-content: center;
}
.a_l_c{
    align-items: center;
}
.f_w{
    font-weight: bold;
}
.m_l_2{
    margin-left: 20px;
}
.text_a_c{
    text-align: center;
}
.p_b_20{
    padding-bottom: 20px;
}